{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div class="box-header">
            {% if not entity.id %}<h3 class="box-title">Nuevo usuario</h3> {% endif %}
            {% if  entity.id %}<h3 class="box-title">Editar usuario {{ entity.username }}</h3> {% endif %}

        </div>
        <form method="post" action="{{ not entity.id ? path('user_new') :  path('user_update', {id:entity.id}) }}" enctype="multipart/form-data">
            <!-- /.box-header -->
            <div class="box-body">

                <div class="col-md-6">
                    {{ form_row(form.nombre ) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.apellido) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.username) }}
                </div>
                {#{% if not entity.id %}#}
                {#<div class="col-md-6">#}
                {#{{ form_row(form.plainPassword ) }}#}
                {#</div>#}
                {#{% endif %}#}
                <div class="col-md-6">
                    {{ form_row(form.email) }}
                </div>

                <div class="col-md-6 text-center">
                    {{ form_row(form.imageFile) }}
                    {#{{ user_image }}#}
                    <img style="max-height: 200px;" class=" img-thumbnail img-responsive" src="{{ asset(user_image~'/'~entity.imageName) }}">
                </div>
                <div class="col-md-6">
                    {{ form_row(form.roles) }}
                </div>

                <div class="hide">
                    {{ form_rest(form) }}
                </div>
            </div>

            <div class="box-footer">
                <button class="btn btn-primary">
                    Guardar <i class="fa fa-save"></i>
                </button>
                <a href="{{ path('user_index') }}" class="btn btn-default">
                    <i class="fa fa-arrow-left"></i> Volver
                </a>
            </div>
            <form>
    </div>
{% endblock body %}